<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" metadata-complete="true" version="3.1">
  <servlet>
    <servlet-name>UserHander</servlet-name>
    <servlet-class>com.controller.UserHander</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserHander</servlet-name>
    <url-pattern>/servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SalaryHander</servlet-name>
    <servlet-class>com.controller.SalaryHander</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalaryHander</servlet-name>
    <url-pattern>/Salary</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>AttendHander</servlet-name>
    <servlet-class>com.controller.AttendHander</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttendHander</servlet-name>
    <url-pattern>/Attendance</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  		<servlet-name>DepartmentHandler</servlet-name>
  		<servlet-class>com.controller.DepartmentHandler</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>DepartmentHandler</servlet-name>
  		<url-pattern>/DepartmentHandler</url-pattern>
  	</servlet-mapping>
	
	
	<servlet>
	    <servlet-name>InfoController</servlet-name>
	    <servlet-class>com.controller.InfoController</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>InfoController</servlet-name>
	    <url-pattern>/infocontroller</url-pattern>
	  </servlet-mapping>
	
</web-app>